<div class="container">
  <form action="#" class="resetpass__form" method="POST">
    <h1 class="form-header">Reset password</h1>
    <div class="mb-3">
      <label for="inputPass" class="form-label">Password <span>*</span></label>
      <input
        type="password"
        class="form-control"
        id="inputPass"
        placeholder="Password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="inputConfirmPass" class="form-label"
        >Confirm password <span>*</span></label
      >
      <input
        type="password"
        class="form-control"
        id="inputConfirmPass"
        placeholder="Confirm Password"
        required
      />
    </div>
    <div class="form-button">
      <button type="submit" class="btn-confirm" (click)="redirectToLogin()">
        CONFIRM
      </button>
    </div>
  </form>
</div>
