<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
/>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>DÉLICAT</h4>
        <ul>
          <li>
            Délicat in French means delicate, elegant, elegant. Délicat is the
            brand name and the goal that we set when building the brand.
          </li>
          <li>
            <div class="footer_subcribe">
              <input type="text" placeholder="Email" />
              <button>Subcribe</button>
            </div>
          </li>
          <li class="bocongthuong-desktop">
            <a href="#"
              ><img src="../../assets/img/bo_cong_thuong.png" alt=""
            /></a>
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>ABOUT US</h4>
        <ul>
          <li><a href="about">Délicat</a></li>
          <li><a href="policy">Policies</a></li>
        </ul>
        <br />
        <br />
        <h4>BLOG</h4>
        <ul>
          <li>
            <a href="blog/blog-detail/BG08"
              >Alternatives To The Humble White Shirt</a
            >
          </li>
          <li>
            <a href="blog/blog-detail/BG09"
              >How To Wear A Polo Shirt With A Suit</a
            >
          </li>
          <li>
            <a href="blog/blog-detail/BG20"
              >Men's Wedding Shoes: Your Complete Guide From Suit Direct</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>CONTACT</h4>
        <h5>Email</h5>
        <ul>
          <li>
            <a href="#"></a>
          </li>
          <li><a href="contact">delicat@gmail.com</a></li>
        </ul>
        <br />
        <br />

        <h5>Phone</h5>
        <ul>
          <li>
            <a href="contact">012-378-945</a>
          </li>
        </ul>
        <br />
        <h5>Location</h5>
        <ul>
          <li>
            <a href="contact">1 ABC DEF, LA</a>
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>PAYMENT</h4>
        <div class="payment-links">
          <a href="#"><img src="../../assets/img/paypal.svg" alt="" /></a>
          <a href="#"><img src="../../assets/img/visa.svg" alt="" /></a>
          <a href="#"><img src="../../assets/img/mastercard.svg" alt="" /></a>
        </div>
        <h4>SOCIAL</h4>
        <div class="social-links">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>

      <div class="footer-col-mobile">
        <h2>DÉLICAT</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolore
          libero dolor
        </p>
        <button>
          <b>ABOUT US</b>
          <i class="bi bi-chevron-right"></i>
        </button>

        <button>
          <b>BLOGS</b>
          <i class="bi bi-chevron-right"></i>
        </button>

        <div class="input-group">
          <input
            type="email"
            class="form-control"
            placeholder="Enter email to subscribe"
          />
          <span class="input-group-btn"></span>
          <button class="btn" type="submit">Subscribe Now</button>
        </div>

        <div class="social-links">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
        <div class="end-footer">
          <div class="bocongthuong">
            <a href="#"
              ><img src="../../assets/img/bo_cong_thuong.png" alt=""
            /></a>
          </div>
          <div class="payment-links">
            <a href="#"><img src="../../assets/img/paypal.svg" alt="" /></a>
            <a href="#"><img src="../../assets/img/visa.svg" alt="" /></a>
            <a href="#"><img src="../../assets/img/mastercard.svg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
