<div class="aboutUs__Container">
  <nav aria-label="breadcrumb" style="padding: 12px 0" class="bg-secondary">
    <ol class="breadcrumb" style="margin-left: 85px; margin-bottom: 0">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="about">About us</li>
    </ol>
  </nav>

  <div class="aboutUs__bannerIntroduce">
    <div></div>
    <h1>OUR STORY</h1>
  </div>
  <div class="aboutUs__introduce">
    <div class="aboutUs__introduce_item">
      <h1>ABOUT US</h1>
      <p>
        Délicat in French means delicate, elegant, elegant. Délicat is the brand
        name and the goal that we set when building the brand. With meticulously
        tailored clothing, it always shows elegance and sophistication but still
        retains natural beauty. Therefore, each product at Délicat, each suit,
        shirt or pants is a harmony between luxurious materials, tailoring,
        sophisticated style and knowledge of fashion.
      </p>
    </div>
    <div class="aboutUs__introduce_item leftAlign">
      <img src="../../assets/img/about.jpg" alt="" />
    </div>
  </div>
  <div class="aboutUs__members">
    <h1>MEMBERS</h1>
    <div class="aboutUs__members_profile">
      <div class="aboutUs__member">
        <img src="../../assets/img/hoangphi.jpg" alt="" />
        <p>HOANG PHI</p>
      </div>
      <div class="aboutUs__member">
        <img src="../../assets/img/thanhngoc.jpg" alt="" />
        <p>THANH NGOC</p>
      </div>
      <div class="aboutUs__member">
        <img src="../../assets/img/nhatnguyen.jpg" alt="" />
        <p>NHAT NGUYEN</p>
      </div>
      <div class="aboutUs__member">
        <img src="../../assets/img/thientruc.jpg" alt="" />
        <p>THIEN TRUC</p>
      </div>
      <div class="aboutUs__member">
        <img src="../../assets/img/dacsang.jpg" alt="" />
        <p>DAC SANG</p>
      </div>
      <div class="aboutUs__member">
        <img src="../../assets/img/ngocsuong.jpg" alt="" />
        <p>NGOC SUONG</p>
      </div>
    </div>
  </div>
  <div class="aboutUs__bannerIntroduce">
    <div></div>
    <h1>MISSION & VISION</h1>
  </div>
  <div class="aboutUs__introduce wrapReverse">
    <div class="aboutUs__introduce_item">
      <img src="../../assets/img/mission.jpg" alt="" />
    </div>
    <div class="aboutUs__introduce_item leftAlign">
      <h1>MISSION</h1>
      <p>
        For us, the most important thing is quality. To create beautiful suits,
        we use only the best fabrics and materials on the market. Fabric samples
        are provided by famous manufacturers in the world from UK and Italy. Not
        only that, each of our services is made by carpenters with at least 30
        years of experience in the profession. Through our passionate passion
        for beautiful clothing, we help our clients build elegant and compact
        wardrobes, and direct them to their naturally cultivated style. Besides
        clothing, we also source and supply a growing range of other unique and
        handmade items that contribute to 'a good life'.?
      </p>
    </div>
  </div>
  <div class="aboutUs__introduce noPaddingTop">
    <div class="aboutUs__introduce_item">
      <h1>VISION</h1>
      <p>
        With more and more complete life and increasing demand for clothing, the
        market is more and more open. That means we will have more
        opportunities, with the motto, goal and mission set out, Délicat will
        become the leading company in Vietnam trusted and chosen by customers.
      </p>
    </div>
    <div class="aboutUs__introduce_item leftAlign">
      <img src="../../assets/img/vision.jpg" alt="" />
    </div>
  </div>
</div>
