.forgetpass__form {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: auto;
  margin-bottom: 60px;
}

.form-header {
  text-align: center;
  padding: 4rem 0;
  margin: 0;
}

span {
  color: red;
}

.form-control {
  background-color: var(--bs-secondary);
}

#send-btn {
  background-color: black;
}

@media screen and (max-width: 600px) {
  .form-control {
    border-radius: 0;
    width: 100%;
  }

  #send-btn {
    border-radius: 0;
    margin-top: 2rem;
    width: 100%;
  }
}
