#form_infor{
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 60%;
    height: 60%;
    margin: auto;
}

.form-header{
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

.form-biglable{
    color: brown;
    font-weight:500;
}

.form-label span{
    color: red;
}

.form-control{
    background-color: var(--bs-secondary);
}


.btn-save{
 text-align: center;
 margin: 2rem auto;
 padding: 0.5rem 3rem;
 display: block;
 color: white;
 background-color: black;
 letter-spacing: 1.15px;
}



@media screen and (max-width: 600px) {
    .btn-save {
        width: 100%;
    }
  }