<nav aria-label="breadcrumb" style="padding: 12px 0" class="bg-secondary">
  <ol class="breadcrumb" style="margin-left: 85px; margin-bottom: 0">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item active" aria-current="policy">Policies</li>
  </ol>
</nav>
<div class="container container-policy">
  <div style="text-align: center">
    <h1>Policies</h1>
  </div>

  <div class="row content">
    <div class="col-4 container-list-ex">
      <div id="list-example" class="list-group position-fixed w-25">
        <a class="list-group-item list-group-item-action" href="#list-item-1"
          >Return Policy</a
        >
        <a class="list-group-item list-group-item-action" href="#list-item-2"
          >Privacy Policy</a
        >
        <a class="list-group-item list-group-item-action" href="#list-item-3"
          >Delivery Policy</a
        >
        <a class="list-group-item list-group-item-action" href="#list-item-4"
          >Payment Policy</a
        >
      </div>
    </div>
    <div class="col-8 content-policy">
      <div
        data-bs-spy="scroll"
        data-bs-target="#list-example"
        data-bs-smooth-scroll="true"
        class="scrollspy-example"
        tabindex="0"
      >
        <h4 id="list-item-1">Return Policy</h4>
        <p>
          If you need to return an item, you can do so free of charge and within
          30 days of purchase. All returned items need to be unworn, unsoiled
          and in a saleable condition with all labels and tags still
          attached.<br />
          • Returns to Vietnamese are free <br />
          • 30 days return period <br />
          • Returns process takes less than a minute <br />
          • Sustainable choice paperless returns & store drop-offs <br />
          • Multiple convenient return options <br />
          • Monitor the status of your return with tracking and notifications
          <br />
          <br />
          <i>Please note:</i> our couriers are only able to accept returns up to
          these maximum dimensions. Any packages larger will need to be sent
          back as multiple items. <br />
          • DPD accepts parcels up to 20kg, max 60 x 60 x 60 cm. <br />
          • InPost accepts parcels up to 15kg, max 41cm x 38cm x 64cm. <br />
          • CollectPlus accepts parcels up to 10kg, 60cm x 50cm x 50cm. <br />
          • Choose MyDHL for all parcels exceeding 20kgs and bigger than 60 x 60
          x 60 cm. This is a home collection service.
          <br />
          <br />
          <br />
          <br />
        </p>
        <h4 id="list-item-2">Privacy Policy</h4>
        <p>
          We obtain information about you when you use our website, for example,
          when you contact us about products and services or if you register to
          receive one of our weekly newsletters.
          <br />
          The personal information we collect might include your name, address,
          email address, IP address, mobile phone number and information
          regarding what pages are accessed and when. We may use your
          information to: <br />
          • Process orders that you have submitted and inform you of the status
          of the order;
          <br />
          • Carry out our obligations arising from any contracts entered into by
          you and us; <br />
          • Deal with entries into a competition;
          <br />
          • Seek your views or comments on the services we provide;
          <br />
          • Notify you of changes to our services;
          <br />
          • Send you communications which you have requested and that may be of
          interest to you. These may include information about sales campaigns,
          activities, promotions of our associated companies’ goods and
          services;
          <br />
          • Develop, test and improve our systems, services and the products we
          provide;
          <br />
          • Process a job application.
          <br />
          We review our retention periods for personal information on a regular
          basis. We are legally required to hold some types of information to
          fulfill our statutory obligations. We will hold your personal
          information on our systems for as long as is necessary for the
          relevant activity, or as long as is set out in any relevant contract
          you hold with us. We will not sell or rent your information to third
          parties.
          <br />
          <br />
          <br />
          <br />
        </p>
        <h4 id="list-item-3">Delivery Policy</h4>
        <p>
          Orders are dispatched 6 days a week (Sun - Mon), excluding Bank
          Holidays. Orders placed after 5pm Friday or on Saturday will be
          dispatched on Sunday. <br />
          We will send you an email confirmation once your order has been
          dispatched. Unfortunately it is not possible to change the delivery
          address of the order once it has left our warehouse, however if you do
          need to amend your order prior to dispatch then please get in touch
          with our Customer Service team who will do their best to accommodate
          any changes. <br />
          We strive to ensure our delivery information on site is as accurate as
          possible. However, on some occasions, packages may be delayed due to
          factors out of our control. <br />
          <br />
          <strong>Standard Delivery</strong> <br />
          Delivery Tracked Standard Delivery is free on all UK Mainland orders
          over £70 and your order will be delivered within 7 working days. For
          orders under £70, the Standard Delivery option is £4.95 dispatched via
          Evri. <br />
          <br />
          Evri will send additional delivery updates by email. If you provide a
          phone number, they will also send an SMS to pre-advise you of the
          delivery time. <br />
          <br />
          If you don’t receive your parcel within the projected timeframe after
          we send you a dispatch email, please contact us. You have 30 days
          after receipt of a dispatch email to contact us in event of a
          non-delivery. Refunds cannot be made after this time.
          <br />
          <br />
          <br />
          <br />
        </p>
        <h4 id="list-item-4">Payment Policy</h4>
        <p>
          See below for all the methods we accept for payment of purchases. For
          details of how to make payments towards your next credit account click
          here to see our help site and select “Payments”. <br />
          Online: <br />
          • All major credit and debit cards <br />
          • Next gift cards and e-vouchers <br />
          • Paypal <br />
          • Apple Pay <br />
          In-store: <br />
          • Paypal<br />
          • All major credit and debit cards (including Apple Pay and Google
          Pay) <br />
          • Gift Cards and e-vouchers <br />
          • Cash <br />
          <br />
          <br />
          <br />
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
